* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  /* grid-template-columns: 100px 1fr; */
  /* grid-gap: 0 30px; */
  justify-content: center;
  align-content: center;

}

h1 {
  text-align: center;
  /* grid-column: 1; */
}

.container {
  height: 600px;
  width: 600px;
  display: grid;
  border: solid 1px red;
  
}

.grid-div {
  border: solid 1px black;
}

.grid-div:hover {
  background-color: blue;
}

.hovered {
  background-color: green;
}

.cleared {
  background-color: white;
}

.row-container {
  display: grid;
  grid-auto-flow: column;
}